h2{
    text-align: center;
    color:red;
    text-shadow: -1px -1px white, 1px 1px #333;
} 
.botao  {
    margin:0px;
    padding:0px;
}
.botao a {  
    font: bold 12px/24px 'Times New Roman', Times, serif;	
    padding:0px;
    text-decoration: none;
    text-align:center;	
    color:lavender;
    background: green url('botao_link.gif')
    no-repeat center center;	
    width: 370px;  
    height: 28px;	
    display:block;
    border-radius: 2px;
    border-width: 2px;
    border-style:solid;
    border-color: green;
    font-size: 25px;
}
.botao a:hover { 
    background: #fff url('botao_hover.gif') no-repeat 
    center center;
    color:green;
    transition: 0.4s;
}



.botao2  {
    margin:0px;
    padding:0px;
}
.botao2 a {  
    font: bold 12px/24px 'Times New Roman', Times, serif;	
    padding:0px;
    text-decoration: none;
    text-align:center;	
    color: lavender;
    background: rgb(170, 170, 4) url('botao_link.gif')
    no-repeat center center;	
    width: 370px;  
    height: 28px;	
    display:block;
    border-radius: 2px;
    border-width: 2px;
    border-style:solid;
    border-color: rgb(170, 170, 4);
    font-size: 25px;
}
.botao2 a:hover { 
    background: #fff url('botao_hover.gif') no-repeat 
    center center;
    color: rgb(170, 170, 4);
    transition: 0.4s;
}



.botao3  {
    margin:0px;
    padding:0px;
}
.botao3 a {  
    font: bold 12px/24px 'Times New Roman', Times, serif;	
    padding:0px;
    text-decoration: none;
    text-align:center;	
    color:lavender;
    background: blue url('botao_link.gif')
    no-repeat center center;	
    width: 370px;  
    height: 28px;	
    display:block;
    border-radius: 2px;
    border-width: 2px;
    border-style:solid;
    border-color: blue;
    font-size: 25px;
}
.botao3 a:hover { 
    background: #fff url('botao_hover.gif') no-repeat 
    center center;
    color:blue;
    transition: 0.4s;
}