*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
}

.second-content{
    position: absolute;
    
}
.first-content {
    
    
}
.list-social-media{
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media:hover .item-social-media{
    background-color: red;
    color: #fff;
    border-color: red;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.content{
    border-radius: 15px;
    background-color: #fff;
    width: 950px;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-column{
    flex: 1 0 auto;
    text-align: center;
    z-index: 1;
}
.second-culumn{
    height: 100%;
    flex: 2 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.content::before {
    content: "";
    position: absolute;
    background-color: red;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.description{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}
.btn{
    border-radius: 15px; 
    text-transform: uppercase; 
    color:#fff; font-size: 10px; 
    padding: 10px 50px; 
    background-color: transparent; 
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: bold;
    width: 180px;
    align-self: center;
    margin-top: 1rem;
}
.btn2{
    border-radius: 15px; 
    text-transform: uppercase; 
    color:#fff; font-size: 10px; 
    padding: 10px 50px; 
    cursor: pointer;
    font-weight: bold;
    width: 180px;
    align-self: center;
    border-width: 0px;
    background-color: red;
    border: 1px solid red;
    margin-top: 1rem;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.btn2:hover{
    background-color: #fff;
    border: 1px solid red;
    color: red;
}
.btn:hover{
    background-color: #fff;
    color: red;
}
.form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1; 
    
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify{
    color: #7f8c8d;
    padding: 0 5px;
}
.social-media{
    margin: 1rem 0;
}
#caixa{
    color:#95a5a6;
    font-family: 'Times New Roman', Times, serif;
}